extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/upload', enctype='multipart/form-data', method='post') 
    input(type='file', name='fileToUpload', multiple='multiple') 
    input(type='submit') 
